@mixin default-link-styles {
    text-decoration: none;
    font-weight: bold;
    transition: .3s all;

    &:active {
        color: inherit
    }

}

.blue-link {
    @include default-link-styles;
    color: #1C0C5B;
}

.purple-link {
    @include default-link-styles;
    color: #916BBF;
}

.black-link {
    @include default-link-styles;
    color: #222;
}

.white-link {
    @include default-link-styles;
    color: #dddddd;

    &:hover {
        color: #fff;
    }
}