@media only screen and (min-width: 576px) {
    .login-page {
    
        h1 {
            font-size: 44px;
        }
    
        button {
            position: relative;
            width: 180px;
            margin-bottom: 15px;
            font-size: 17px;
            padding: 7px;
        }
    }
}