@media only screen and (min-width: 768px) {
    .login-page {
    
        h1 {
            font-size: 48px;
        }
    
        button {
            position: relative;
            width: 200px;
            margin-bottom: 15px;
            font-size: 19px;
            padding: 8px;
        }
    }
}